<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNode</title>
    <link rel="stylesheet" href="http://o4j806krb.qnssl.com/public/stylesheets/index.min.bdd5dd43.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
</head>
<body>
    <!-- navbar -->
    <!--<div class="navbar">-->
        <!--<div class="navbar-inner">-->
            <!--<div class="container">-->
                <!--<a class="brand" href="/">-->
                    <!--<img src="http://o4j806krb.qnssl.com/public/images/cnodejs_light.svg">-->
                <!--</a>-->
                <!--<form id="search_form" class="navbar-search" action="/search">-->
                    <!--<input type="text" id="q" name="q" class="search-query span3" value="" disabled="disabled" placeholder="不给用">-->
                <!--</form>-->
                <!--<ul class="nav pull-right">-->
                    <!--<li><a href="/topic">首页</a></li>-->
                    <!--<li><a href="/getstart">新手入门</a></li>-->
                    <!--<li><a href="/api">API</a></li>-->
                    <!--<li><a href="/about" target="">关于</a></li>-->
                    <!--{% if user.username == "游客" %}-->
                    <!--<li><a href="/register">注册</a></li>-->
                    <!--<li><a href="/login">登录</a></li>-->
                    <!--{% else %}-->
                    <!--<li><a>用户: {{ user.username }}</a></li>-->
                    <!--<li><a href="/logout">注销</a></li>-->
                    <!--{% endif %}-->

                <!--</ul>-->
                <!--<a class="btn btn-navbar" id="responsive-sidebar-trigger">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    {% include "fragments/navigator.html" %}
    <!--用户名, 会出现在网页源码中-->
    {# 用户名 来自服务器端的注释, 不会出现在网页源码中 #}
    <!--<p>当前用户: {{ user.username }}</p>-->
    <p>
        <a href="/topic">topic</a>
    </p>
    <p>
        <a href="/board">board</a>
    </p>
    <!--<a href="/login">登录</a>-->
    <!--<a href="/register">注册</a>-->
    <!--<a href="/logout">注销</a>-->
    <script>
        var ajax = (method, path, data, callback) => {
            var r = new XMLHttpRequest()
            r.open(method, path, true)
            r.setRequestHeader('Content-Type', 'application/json')
            r.onreadystatechange = function() {
                if (r.readyState == 4) {
                    callback(r.response)
                }
            }
            r.send(data)
        }

        var fetch = (url, callback) => {
            ajax('GET', url, '', function(r) {
                console.log('debug raw response', r, r.length)
                var data = JSON.parse(r)
                callback(data)
            })
        }

        var __main = () => {
            var url = '/api/topic/all'
            var response = (r) => {
                console.log('debug r', r)
            }
            fetch(url, response)
        }

        __main()
    </script>
</body>
</html>