<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>好干净的404</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css?t=1515376178709" media="all">
    <link rel="stylesheet" href="//res.layui.com/css/global-v1.css?t=1515376178709-1" media="all">
    <link rel="preload" href="https://adservice.google.co.jp/adsid/integrator.js?domain=www.layui.com" as="script"><script type="text/javascript" async="" charset="utf-8" src="http://c.cnzz.com/core.php?web_id=30088308&amp;t=q"></script><script type="text/javascript" src="https://adservice.google.co.jp/adsid/integrator.js?domain=www.layui.com"></script><link rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=www.layui.com" as="script"><script type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=www.layui.com"></script><link id="layuicss-skincodecss" rel="stylesheet" href="http://res.layui.com/layui/dist/css/modules/code.css" media="all"><link id="layuicss-layer" rel="stylesheet" href="http://res.layui.com/layui/dist/css/modules/layer/default/layer.css?v=3.1.1" media="all">
</head>
<body>
    <div style="padding: 50px 0; height: 600px; text-align: center;">
        <h1>
            <i class="layui-icon" style="line-height: 500px; font-size: 500px; color: #393D50;"></i>
        </h1>
        <p style="font-size: 20px; font-weight: 300; color: #999;">好干净的页面啊，什么都没有的样子</p>
    </div>
</body>
</html>