<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbs club</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
</head>
<body>
<!-- navbar -->
{% include "fragments/navigator.html" %}
<div id="main">
    <div id="sidebar">
        {% include "fragments/sidebar.html" %}
        <div class="panel">
            <div class="inner ads">
                <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="banner sponsor_outlink" data-label="alinode">
                    <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_">
                </a>
                <div class="sep10"></div>
                <a href="http://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&amp;utm_medium=content_pic_pc&amp;utm_campaign=multicloud&amp;utm_content=gift&amp;ytag=cnodejs" target="_blank" class="banner sponsor_outlink" data-label="ucloud-banner">
                    <img src="//dn-cnode.qbox.me/FgQS-GQDfqwAD_v0NuhyYUOUk5MG">
                </a>
                <div class="sep10"></div>
                <a href="https://0x7.me/UDyj" target="_blank" class="banner sponsor_outlink" data-label="qiniu-sidebar">
                    <img src="//dn-cnode.qbox.me/Fv9R31Y6ySKKJi95ldk9TRkJ7o5O">
                </a>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">无人回复的话题</span>
            </div>
            <div class="inner">
                <ul class="unstyled">
                    <li>
                        <div><a class="dark topic_title" href="/topic/5a96f2068d6e16e56bb80a11" title="快速排序（《图解算法》笔记）">快速排序（《图解算法》笔记）</a>
                        </div>
                    </li>
                    <li>
                        <div><a class="dark topic_title" href="/topic/5a96e563653c43b91468513d" title="基于vue的记事本应用 vuememo - 更新">基于vue的记事本应用 vuememo - 更新</a>
                        </div>
                    </li>
                    <li>
                        <div><a class="dark topic_title" href="/topic/5a96cb692580af301494a941" title="require的探究">require的探究</a>
                        </div>
                    </li>
                    <li>
                        <div><a class="dark topic_title" href="/topic/5a967cc071327bb413bbff78" title="求助:npm 报错 Error: EEXIST: file already exists, mkdir">求助:npm 报错 Error: EEXIST: file already exists, mkdir</a>
                        </div>
                    </li>
                    <li>
                        <div><a class="dark topic_title" href="/topic/5a9660e3653c43b9146850fb" title="nodejs开发接口自动化测试03-用户登录问题">nodejs开发接口自动化测试03-用户登录问题</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">积分榜</span>
                &nbsp;
                <a class="dark" href="/users/top100">TOP 100 &gt;&gt;</a>
            </div>
            <div class="inner">
                <ol>
                    <li>
                        <span class="top_score">20830</span>
                        <span class="user_name"><a href="/user/i5ting">i5ting</a></span>
                    </li>
                    <li>
                        <span class="top_score">14815</span>
                        <span class="user_name"><a href="/user/alsotang">alsotang</a></span>
                    </li>
                    <li>
                        <span class="top_score">9330</span>
                        <span class="user_name"><a href="/user/leapon">leapon</a></span>
                    </li>
                    <li>
                        <span class="top_score">8735</span>
                        <span class="user_name"><a href="/user/jiyinyiyong">jiyinyiyong</a></span>
                    </li>
                    <li>
                        <span class="top_score">6875</span>
                        <span class="user_name"><a href="/user/yakczh">yakczh</a></span>
                    </li>
                    <li>
                        <span class="top_score">6180</span>
                        <span class="user_name"><a href="/user/imhered">imhered</a></span>
                    </li>
                    <li>
                        <span class="top_score">5940</span>
                        <span class="user_name"><a href="/user/DevinXian">DevinXian</a></span>
                    </li>
                    <li>
                        <span class="top_score">5305</span>
                        <span class="user_name"><a href="/user/magicdawn">magicdawn</a></span>
                    </li>
                    <li>
                        <span class="top_score">4740</span>
                        <span class="user_name"><a href="/user/captainblue2013">captainblue2013</a></span>
                    </li>
                    <li>
                        <span class="top_score">4555</span>
                        <span class="user_name"><a href="/user/fengmk2">fengmk2</a></span>
                    </li>

                </ol>

            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">友情社区</span>
            </div>
            <div class="inner">
                <ol class="friendship-community">
                    <li>
                        <a href="https://ruby-china.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://golangtc.com/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://phphub.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/phphub-logo.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://testerhome.com/" target="_blank">
                            <img src="//dn-cnode.qbox.me/FjLUc7IJ2--DqS706etPQ1EGajxK">
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">客户端二维码</span>
            </div>
            <div class="inner cnode-app-download">
                <img width="200" src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU">
                <br>
                <a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>
            </div>
        </div>
    </div>
    <!---->
    <div id="content">
        <div class="panel">
            <div class="header">
                <!--这个 board 并不在数据库中, 直接判断当前的 board_id 是否为 -1-->
                <!--如果是 -1, 就添加 current-tab 这个 class, 否则不添加-->
                <a href="/topic" class="topic-tab current-tab">
                    全部
                </a>
                {% for b in boards %}
                    {% if b.id == board_id %}
                        {% set cls = 'current-tab' %}
                    {% else %}
                        {% set cls = '' %}
                    {% endif %}
                    <a href="/topic?board_id={{ b.id }}" class="topic-tab {{ cls }}">
                        {{ b.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for t in topics %}
                    <div class="cell">
                        <div class="topic_title_wrapper">
                            <a class="topic_title" href="/topic/detail/{{ t.id }}">
                                {{ t.title }}
                            </a>
                            <!--topic 的回复数和浏览数-->
                            <!--| 的语法是 filter, 实际上就是我们在 linux 课上讲的管道-->
                            <!--var l = t.replies()-->
                            <!--length(l)-->
                            <!--length(t.replies())-->
                            <span>{{ t.replies() | length }} / {{ t.views }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var editor = new Editor();
        editor.render($('.editor')[0]);
    })();
</script>
</body>
</html>